@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;900&family=Poppins:wght@400;500;700;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 1rem var(--second-bg-color);
}
.header.sticky {
  border-bottom: 1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(90deg, #00dbde, #5f93ce);
  font-size: 2.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  text-decoration: none;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* css section */
section {
  margin-top: 1rem;
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* css home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #0ef;
}
.home-content p {
  display: block;
  font-size: 1.6rem;
  max-width: 100rem;
}
.home .job-title {
  color: var(--main-color);
}

.home-img img {
  width: 35vw;
  border-radius: 100rem;
  border: 1rem #0ef solid;
  transition: 1.2s ease-out;
}
.home-img img:hover {
  transform: translateY(1rem);
  box-shadow: 0 0 1rem #0ef;
}
.home-content p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  text-decoration: none;
  transform: 0.5s ease;
}
/*  */
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
/* css btn */
.btn {
  display: inline-block;
  color: var(--second-bg-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background: var(--main-color);
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
}
.btn-sm {
  display: inline-block;
  color: var(--second-bg-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background: var(--main-color);
  padding: 0.6rem 2.2rem;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
}
.btn:hover {
  background: var(--bg-color);
  color: #0ef;
}
/* css about */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background: var(--second-bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
}
.about-img img {
  width: 35vw;
  border-radius: 100rem;
  border: 1rem #0ef solid;
  transition: 1.2s ease-out;
}
.about-img img:hover {
  transform: translateY(1rem);
  box-shadow: 0 0 1rem #0ef;
}

.text-primary {
  color: var(--main-color);
  font-weight: 700;
}
.about-content h2 {
  text-align-last: left;
  line-height: 1.2;
}
.about-content h3 {
  text-align-last: left;
  font-weight: 700;
  font-size: 3.2rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  display: block;
  text-align: justify;
  max-width: 50rem;
}
/* css for section services */
.services h2 {
  margin-bottom: 2.2rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  flex-wrap: nowrap;
  gap: 2rem;
}
.services-container .services-box {
  height: 30rem;
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.services-container .services-box .btn-sm {
  margin-top: auto;
}

.services-container .services-box:hover {
  opacity: 1;
  transform: scale(1.05);
}
.services-icon {
  color: var(--main-color);
  font-size: 6rem;
}
.services-title {
  font-size: 2rem;
  font-weight: 900;
}
.services-text {
  /* margin-bottom: 2rem; */
  /* text-align: left; */
  /* font-size: 1.6rem; */
}
/* css for section project */
.project {
  background: var(--second-bg-color);
}
.project h2 {
  margin-bottom: 2.2rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.project-container .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  height: 20rem;
}
.project-box img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.project-box:hover img {
  transform: scale(1.1);
}
.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
  /* display: none; */
}
.project-box:hover .project-layer {
  transform: translateY(0);
}

.project-layer h4 {
  font-size: 3rem;
  font-weight: 700;
}
.project-layer p {
  font-size: 1.2rem;
  margin: 0.3rem 0 1rem;
}
.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(rgba(0, 0.1, 0.1, 0), var(--main-color));
  border-radius: 50%;
  text-decoration: none;
}
.project-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* contact */
.contact {
  border-bottom: 0.2rem solid #9cabac;
  margin-bottom: 1.2rem;
}
.contact h2 {
  margin-bottom: 1rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form textarea {
  resize: none;
}

.contact form .input-box input {
  width: 49%;
}
.footer {
  margin: 2rem;
  text-align: center;
}
.footer-text h1 {
  background: linear-gradient(90deg, #00dbde, #5f93ce);
  font-size: 2.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  */
/* window.sr = new ScrollReveal(); */
/* responsive*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img {
    width: 70vw;
    margin-top: 3rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 2rem;
  }
  .project {
    padding-bottom: 7rem;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 617px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .home-img img {
    width: 90vw;
  }
  .about {
    gap: 0.5rem;
  }
  .about-img img {
    width: 90vw;
  }
  .services-container {
    flex-direction: column;
  }
  .contact {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 365px) {
  .home-img {
    width: 90vw;
  }
  .about-img {
    width: 90vw;
  }
  .services-container {
    flex-direction: column;
  }
}
